{% extends "layout.twig" %}

{% block content %}

<header class="wrapper clearfix">
    <div class="companyheader clearfix">
        {{widget('logo', 'logo', {"defaultlogo": asset('images/logo.png')})|raw}}
        {{widget('companyname', 'companyname', {"business": "profile"})|raw}}
    </div>
    {{widget('extendednavigation', 'navigationheader', {})|raw}}
</header>

<section>
    {{widget('feature', 'featurehome', {"header": "profile", "strapline":"profile", "buttonText":"LOREM IPSUM","defaultBgImg": asset('images/feature-bg.jpg'), 'positionTopPercentage': '50','showBtn': true})|raw}}
</section>

<div class="main wrapper">
    {{zone('main')|raw}}
</div>

<!-- FOOTER !-->
<footer>
    <div class="wrapper">
        <div class="responsivecolumns columns-three-33-34-33">
            <div class="column columns-three-left">
                {{widget('content', 'footercolumn1content1', {"content":'<h4>LOREM IPSUM</h4>'})|raw}}

                {% if profile.companydescription|length > 0 %}  
                   {{widget('profile', 'footercolumn1profilecompanydescription', { 'profileType':'companydescription', 'companydescription':'profile'})|raw}}
                {% else %}
                    {{widget('content', 'footercolumn1content2', {"content":'<p>Integer a Tortor dui nullam nec antemi morbi sodales urna sit amet mauris.</p>'})|raw}}
                {% endif %}

            </div>
            <div class="column columns-three-middle">
                {{widget('content', 'footercolumn2content1', {"content":'<h4>THOATES ORA</h4>'})|raw}}
                {{widget('profile', 'footercolumn2profileemail', { 'profileType':'phone', 'phone':'profile'})|raw}}
                {{widget('profile', 'footercolumn2profilephone', { 'profileType':'email', 'email':'profile'})|raw}}
            </div>
            <div class="column columns-three-right">
                {{widget('content', 'footercolumn3content1', {"content":'<h4>SOLADES</h4>'})|raw}}
                {{widget('profile', 'footercolumn3profileaddress', { 'profileType':'address', 'address':'profile'})|raw}}
            </div>
        </div>
    </div>
    <div class="footer2">
        <div class="wrapper">
            <div class="responsivecolumns columns-two-50-50">
                <div class="column columns-two-left">
                    {{widget('profile', 'footer2footercolumn1profilecopyright', { 'profileType':'copyright', 'copyright':'profile'})|raw}}
                </div>
                <div class="column columns-two-right">
                    {{widget('profile', 'footer2footercolumn2profilesocialicons', { 'profileType':'socialicons', 'socialicons':'profile'})|raw}}
                </div>
            </div>
        </div>
    </div>
</footer>

{% endblock %}
